export function {{properCase name}}() {
	return (
		<div>
			<h1 className="text-3xl">{{titleCase name}}</h1>
		</div>
	);
}

// uncomment to make route auth-required
// {{properCase name}}.auth = true;
